{% load static %}<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block extrastyle %}{% endblock %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {{ content }}
        {% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->

</body>
</html>
